.root {
  position: relative;
}

.avatar {
  margin: 24px auto 0;
  background-color: #9c27b0;
}

.title {
  margin: 8px 0 4px 0;
  text-align: center;
}

.submit {
  margin: 8px 0 4px 0;
}

.progress {
  position: absolute;
  top: 4px;
  left: 0;
  right: 0;
}
