.root {
  padding-bottom: 24px;
}

.left {
  width: 400px;
  padding: 12px;
  border-right: 1px solid #ccc;
}

.right {
  flex: 1 1 0;
  padding: 12px;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.form {
  margin-top: auto;

  display: flex;
  justify-content: space-between;
  align-items: end;
}

.breadcrumb {
  padding-top: 8px;
  margin-left: 40px !important;
}
