.root {
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
}

.description {
  margin: 16px 0;
}

.salePrice {
  margin-right: 24px;
  font-size: 2.2rem;
  font-weight: bold;
  color: #e92424;
}

.originalPrice {
  margin-right: 16px;
  text-decoration: line-through;
}

.promotionPercent {
  border: 2px solid #e92424;
  color: #e92424;
  padding: 1px;
  font-weight: bold;
}

.priceBox {
  padding: 16px;
  background-color: rgb(224, 224, 224);
  margin: 8px 0;
}
